<div>
    <div class="row mt-5">
        <div class="col-2">
            <nav class="navbar navbar-dark" style="background: rgba(255, 140, 0, 0.3);">
                <div class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="js" class="nav-link" style="color: darkblue;">Java Script</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="an" class="nav-link" style="color: darkblue;">Angular</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="njs" class="nav-link" style="color: darkblue;">NodeJs</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="expjs" class="nav-link" style="color: darkblue;">ExpressJS</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-10 text-center">
            <router-outlet></router-outlet>
        </div>
    </div>
